<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGzlgdUmzZ4aYafWU6LEMvRJ-2VqQrZQI</string>
	<key>GCM_SENDER_ID</key>
	<string>282433385053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classtimeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>classtime-edd7a</string>
	<key>STORAGE_BUCKET</key>
	<string>classtime-edd7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282433385053:ios:318f35d39e4993cbe313b4</string>
</dict>
</plist>